body {
    background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    font-size: 15px;
}

footer {
    background-color: whitesmoke;
}

#Ganges {
    font-style: italic;
    font-size: 7.5px;
}
